<header class="site-header">
  
  <nav class="navbar navbar-expand-lg navbar-light ">
	<a class="navbar-brand" href="{{ site.baseurl }}/" class="logo">
		<span class="logo">
			<amp-img src="{{ site.baseurl }}{{ site.logo }}" width="30" height="30" />
		</span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
	<div class="collapse navbar-collapse" id="navbarMenu">
		<ul class="navbar-nav mr-auto">
			 <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
			 <li class="nav-item"><a class="nav-link" href="/Blog">Blog</a></li>
			 <li class="nav-item"><a class="nav-link" href="/Projects">Projects</a></li>
			 <li class="nav-item"><a class="nav-link" href="/Resume">Resume</a></li>
			 <li class="nav-item"><a class="nav-link" href="/About">About</a></li>
		    <!-- {% for my_page in site.pages %}
		      {% if my_page.title %}
		      	{% if my_page.title != "Blog"%}
		      		<li class="nav-item"><a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
		      	{% endif %}	
		      {% endif %}
		    {% endfor %} -->
		</ul>
	</div>
  </nav>
</header>

<!-- •  -->